.DS_Store
build_output.log
dist/
local_llm_wrapper.egg-info/

ai_image_caption
automated_radio_disc_jockey
biology-problems-website
llm-file-rename-n-sort
screenshot-ai-renamer-macos
simple-llm-openai-wrapper
report_*.txt

# === UNIVERSAL ===
_temp*.?*
# === PYTHON ===
build/
sdist/
*.egg
*.egg-info/
site/

